#footer{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:26px;
	background:#ddd;
	border-top:1px solid #999;
	z-index:20;
}
#footer #parserBar{
	position:absolute;
	top:0;
	right:400px;
	width:200px;
}

#footer #coords{
	position:absolute;
/*	border-top:1px solid #888;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;*/
	border-left:1px solid #888;
	right: 300px;
	top:3px;
	width:80px;
	height:19px;
	padding:0;
	vertical-align:middle;
}
#footer #coords div{
	text-align:center;
	font:11px verdana;
	margin-top:4px;
}
.dojoCodeTextAreaLines .startBlockComment{
	color:#090;
	font-weight:normal;
	line-height:17px;
}
.dojoCodeTextAreaLines .endBlockComment{
	color:#090;
	font-weight:normal;
	line-height:17px;
}
.dojoCodeTextAreaLines .quotes{
	color:#930;
	font-weight:normal;
	/*line-height:17px;*/
}
.dojoCodeTextAreaLines .browser{
	color:#00c;
	font-weight:normal;
	line-height:17px;
}
.dojoCodeTextAreaLines .dom-method{
	color:#000;
	font-weight:normal;
	font-style:italic;
	line-height:15px;
}
.dojoCodeTextAreaLines .dojo-method{
	color:#663;
	font-weight:normal;
	font-style:italic;
	line-height:15px;
}
.dojoCodeTextAreaLines .keyword{
	color:blue;
	font-weight:bold;
}
.dojoCodeTextAreaLines .dojo{
	color:green;
	font-weight:bold;
}
.dojoCodeTextAreaLines .boolean{
	color:#aa7700;
	font-weight:bold;
}
.dojoCodeTextAreaLines .event{
	color:green;
	font-style:italic;
	line-height:15px;
}
.dojoCodeTextAreaLines .dojoNamespace{
	color:black;
	font-weight:bold;
}
.dojoCodeTextAreaLines .dojoFunction{
	color:black;
	font-style:italic;
	line-height:15px;
}
.dojoCodeTextAreaLines .dijit{
	color:#969033;
}

