/*
	Adds cosmetic styling to Dijit.  Users may swap with a custom theme CSS file.
*/

@import url("../dijit.css");


.dj_safari .not .dijitPopup {
	/* -webkit-border-radius: 5px; */
	-webkit-box-shadow: 0px 5px 10px #adadad;
}

/*
 * Control opacity of popups
 */
.not .dijitPopup div,
.not .dijitPopup table {
	opacity: 0.95;
}

/*****
		dijit.form.Button
		dijit.form.DropDownButton
		dijit.form.ComboButton
		dijit.form.ComboBox (partial)
 *****/


.not .dijitButtonNode {
	/* enabled state - inner */
	/* border:1px outset #a0a0a0; */
	border:1px solid #9b9b9b;
	padding:.3em .4em .2em .4em;
	background:#e9e9e9 url("images/buttonEnabled.png") repeat-x top;
}
.dijitComboBox .dijitButtonNode,
.dijitSpinner .dijitButtonNode {
	border: 0px;
}

.dj_ie6 .not .dijitButtonNode {
	position:relative; 
}

.not .dijitA11yDownArrow,
.not .dijitDownArrowButton,
.not .dijitUpArrowButton {
	font-size: 0.75em;
	color: #848484;
}


.not .dijitButtonDisabled .dijitButtonNode,
.not .dijitToggleButtonDisabled .dijitButtonNode,
.not .dijitDropDownButtonDisabled .dijitButtonNode,
.not .dijitComboButtonDisabled .dijitButtonNode,
.not .dijitComboBoxDisabled,
.not .dijitSpinnerDisabled,
.not .dijitSpinnerDisabled .dijitButtonNode {
	/* disabled state - inner */
	border: 1px solid #d5d5d5;
	/*color:#b4b4b4;*/
	background:#e4e4e4 url("images/buttonDisabled.png") top repeat-x;
	opacity: 0.60; /* Safari, Opera and Mozilla */
}
.not .dijitButtonDisabled .dijitButtonNode *,
.not .dijitToggleButtonDisabled .dijitButtonNode *,
.not .dijitDropDownButtonDisabled .dijitButtonNode *,
.not .dijitComboButtonDisabled .dijitButtonNode *,
.not .dijitSpinnerDisabled .dijitButtonNode * {
	filter: gray() alpha(opacity=50); /* IE */
}

.not .dijitButtonHover .dijitButtonNode,
.not .dijitToggleButtonHover .dijitButtonNode,
.not .dijitDropDownButtonHover .dijitButtonNode,
.not .dijitComboButtonHover .dijitButtonContents,
.not .dijitComboButtonDownArrowHover .dijitDownArrowButton,
.not .dijitComboBoxHover .dijitDownArrowButton,
.not .dijitSpinnerUpArrowHover .dijitUpArrowButton,
.not .dijitSpinnerDownArrowHover .dijitDownArrowButton {
	/* hover state - inner */
	/* TODO: change from Hover to Selected so that button is still highlighted while drop down is being used */
	border-color:#366dba;
	color:#366dba;
	background:#f1f6fc url("images/buttonHover.png") repeat-x bottom;
}

.not .dijitButtonActive .dijitButtonNode,
.not .dijitToggleButtonActive .dijitButtonNode,
.not .dijitDropDownButtonActive .dijitButtonNode,
.not .dijitComboButtonActive .dijitButtonContents,
.not .dijitDownArrowActive .dijitDownArrowButton,
.not .dijitComboBoxActive .dijitDownArrowButton {
	/* active state - inner (for when you are pressing a normal button, or
	 * when a toggle button is in a depressed state
	 */
	border-color:#366dba;
	background: #ededed url("images/buttonActive.png") bottom repeat-x;
}

.not .dijitToolbar {
	border: 1px solid #9b9b9b;
	background:#e9e9e9 url("images/buttonEnabled.png") repeat-x top;
}

.not .dijitToolbar * {
	padding: 0px;
	margin: 0px;
	#margin-top: -1px; /*IE*/
}
.dj_ie .not .dijitToolbar {
	padding-bottom: 1px;
}

.not .dijitToolbar .dijitButtonNode {
	padding: 0px;
	margin: 0px;
	border: 1px solid transparent;
	background: none;
}
.not .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
	background-color:#C1D2EE;
	border:1px solid #316AC5;
}
.not .dijitToolbar .dijitToggleButtonCheckedHover .dijitButtonContents {
	border-color: #366dba;
	background-color:transparent;
}
.dj_ie6 .not .dijitToolbar .dijitButtonNode {
	/* workaround no transparent border support in IE6*/
	border-color: #e9e9e9;
}

.not .dijitToolbar .dijitButtonHover .dijitButtonNode,
.not .dijitToolbar .dijitToggleButtonHover .dijitButtonNode,
.not .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode {
	/* TODO: change this from Hover to Selected so that button is still highlighted while drop down is being used */
	border-color: #366dba;
}
.dijitToolbarSeparator {
	background: url('images/editor.gif');
	height: 18px;
	width: 5px;
	padding: 0px 1px 0px 1px;
	margin: 0px;
}

.not .dijitToolbar .dijitToolbarSeparator {
	background: url('images/editor.gif');
}

/* ComboBox-icon-specific */
.not .dijitComboBox .dijitDownArrowButtonChar {
	/* visibility:hidden;  */
	display:none; 
}
.not .dijitComboBox .dijitDownArrowButtonInner {
	width:16px; 
	height:16px; 
	background:url("images/arrowDown.png") no-repeat center center; 
}
.dj_ie6 .not .dijitComboBox .dijitDownArrowButtonInner {
	background-image:url("images/arrowDown.gif"); 
}
.not .dijitComboBoxHover .dijitDownArrowButtonInner {
	/* TODO: url("images/arrowDownHover.png") but in IE6 it flickers some? */
}


/*****
		dijit.form.NumberSpinner
		override for the shorter stacked buttons
 *****/

.not .dijitSpinner .dijitButtonNode {
	padding: 0 .4em 0 .4em;
}


/****
		dijit.form.TextBox
		dijit.form.ValidationTextBox
		dijit.form.SerializableTextBox
		dijit.form.RangeBoundTextBox
		dijit.form.NumberTextBox
		dijit.form.CurrencyTextBox
		dijit.form.NumberSpinner
		dijit.form.ComboBox (partial)
 ****/

.not .dijitTextBox,
.not .dijitComboBox,
.not .dijitSpinner {
	margin: 0em 0.1em 0.2em 0.1em;
}

.not .dijitComboBox,
.not .dijitSpinner,
.not .dijitInlineEditor input,
.not .dijitTextarea {
	/* 	For all except dijit.form.NumberSpinner:  the actual input element.
		For TextBox, ComboBox, Spinner: the table that contains the input.
		Otherwise the actual input element.
	*/
	font-size: inherit;
	background:#fff url("images/validationInputBg.png") repeat-x top left;
	border:1px solid #9b9b9b;
	line-height: normal;
}
.not .dijitTextBox{
	background:#ffffcc;
	margin:0;
}

.not .dijitComboBox .dijitButtonNode,
.not .dijitSpinner .dijitButtonNode {
	/* line between the input area and the drop down button */
	border-left:1px solid #9b9b9b;
}
.not .dijitSpinner .dijitDownArrowButton {
	border-top:1px solid #9b9b9b;	/* line between top and bottom arrow */
}

.not .dijitTextBoxFocused,
.not .dijitComboBoxFocused,
.not .dijitSpinnerFocused {
	/* input field when focused (eg: typing affects it) */
	border-color:#366dba;
	border-style:inset;
}

.not .dijitTextBoxError,
.not .dijitComboBoxError,
.not .dijitSpinnerError {
	border:1px solid #f3d118;
	background-color:#f9f7ba;
	background-image:none;
}

.not .dijitFormWidgetErrorFocus,
.not .dijitComboBoxErrorFocus,
.not .dijitSpinnerErrorFocus {
	background-color:#ff6;
	background-image:none;
}

/* Validation errors  */
.not .dijitValidationIcon {
	/* prevent height change when widget goes from valid to invalid state, and
	 * workaround browser (FF and safari) sizing bugs when last table column is empty or display:null
	 */
	display: block;
	height: 16px;
	width: 1px;
}
.not .dijitValidationIconText {
	display: none;
}

.not .dijitTextBoxError .dijitValidationIcon,
.not .dijitComboBoxError .dijitValidationIcon,
.not .dijitSpinnerError .dijitValidationIcon {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-image: url('images/warning.png');
}

/*
 *  CheckBox and Radio Widgets,
 *	and the CSS to embed a checkbox or radio icon inside a ToggleButton.
 *
 *	Order of images in the default sprite (from L to R, checkbox and radio in same image):
 *		checkbox	normal 	 - checked
 *							 - unchecked
 *					disabled - checked
 *							 - unchecked
 *					hover 	 - checked
 *							 - unchecked
 *
 *		radio		normal 	 - checked
 *							 - unchecked
 *					disabled - checked
 *							 - unchecked
 *					hover 	 - checked
 *							 - unchecked
*/

.not .dijitToggleButton .dijitCheckBox,
.not .dijitToggleButton .dijitRadio,
.not .dijitToggleButton .dijitCheckBoxIcon,
.not .dijitToggleButton .dijitRadioIcon {
	background-image: url('images/checkmarkNoBorder.gif');
}

.not .dijitCheckBox,
.not .dijitRadio,
.not .dijitCheckBoxIcon,		/* inside a toggle button */
.not .dijitRadioIcon	{		/* inside a toggle button */
	background-image: url('images/checkmark.gif'); /* checkbox sprite image */
	background-repeat: no-repeat; 
	width: 16px;
	height: 16px;
	overflow:hidden; 
	margin:0; padding:0; 
}


.not .dijitCheckBox,
.not .dijitToggleButton .dijitCheckBoxIcon {
	/* unchecked */
	background-position: -16px 0px; 
}
 
.not .dijitCheckBoxChecked,
.not .dijitToggleButtonChecked .dijitCheckBoxIcon {
	/* checked */
	background-position: 0px 0px;
}

.not .dijitCheckBoxDisabled {
	/* disabled */
	background-position: -48px 0px;
}

.not .dijitCheckBoxCheckedDisabled {
	/* disabled but checked */
	background-position: -32px 0px;
}

.not .dijitCheckBoxHover,
.not .dijitCheckBoxFocused {
	/* hovering over an unchecked enabled checkbox */
	background-position: -80px 0px;
}

.not .dijitCheckBoxCheckedHover,
		.not .dijitCheckBoxCheckedFocused {
	/* hovering over a checked enabled checkbox */
	background-position: -64px 0px;
}

.not .dijitRadio,
.not .dijitToggleButton .dijitRadioIcon {
	/* unselected */
	background-position: -112px -1px;
}

.not .dijitRadioChecked,
.not .dijitToggleButtonChecked .dijitRadioIcon {
	/* selected */
	background-position: -96px -1px;
}

.not .dijitRadioCheckedDisabled {
	/* selected but disabled */
	background-position: -128px -1px;
}

.not .dijitRadioDisabled {
	/* unselected and disabled */
	background-position: -144px -1px;
}

.not .dijitRadioHover,
.not .dijitRadioFocused {
	/* hovering over an unselected enabled radio button */
	background-position: -176px -1px;
}

.not .dijitRadioCheckedHover,
.not .dijitRadioCheckedFocused {
	/* hovering over a selected enabled radio button */
	background-position: -160px -1px;
}

/* Menu */
.not .dijitMenu {
	border: 1px solid #9b9b9b;
	margin: 0px;
	padding: 0px;
}

.not .dijitMenuItem {
	background-color: #f7f7f7;
	font: menu;
	margin: 0;
}

.not .dijitMenuItem TD {
	padding:2px;
}

.not .dijitMenuItemHover {
	background-color: #808080; /* #95a0b0; #555555; #aaaaaa; #646464;  #60a1ea; #848484; */
	color:#fff;
}

.not .dijitMenuItemIcon {
	width: 16px;
	height: 16px;
	/* padding-right: 3px; */
}

.not .dijitMenuExpand {
	display:none; 
}
.not .dijitMenuExpandEnabled {
	/* margin-top:4px;  */
	width:16px; 
	height:16px; 
	background:url('images/arrowRight.png') no-repeat center center;
	display:block;
}
.dj_ie6 .not .dijitMenuExpandEnabled {
	background-image:url('images/arrowRight.gif'); 
}
.not .dijitMenuExpandInner {
	display:none !important;
}

.not .dijitMenuSeparator {
	background-color: #f7f7f7;
}

/* separator can be two pixels -- set border of either one to 0px to have only one */
.not .dijitMenuSeparatorTop {
	border-bottom: 1px solid #9b9b9b; /*97adcb; */
}

.not .dijitMenuSeparatorBottom {
	border-top: 1px solid #e8e8e8;
}

/* TitlePane */

.not .dijitTitlePane .dijitTitlePaneTitle {
	background: #cccccc;
	background:#fafafa url("images/titleBarBg.gif") repeat-x bottom left;
	border:1px solid #bfbfbf;
	padding:4px 4px 2px 4px;
	cursor: pointer;
}

/* TODO: merge these, and all other icons to a series of background-image:() and background-position: -16*n px styles */
.not .dijitTitlePane .dijitArrowNode {
	width:16px;
	height:16px;
}
.not .dijitTitlePane .dijitClosed .dijitArrowNode {
	background:url('images/arrowRight.png') no-repeat center center; 
}
.dj_ie6 .not .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-image:url('images/arrowRight.gif');
}
.not .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url('images/arrowDown.png') no-repeat center center; 
}
.dj_ie6 .not .dijitTitlePane .dijitOpen .dijitArrowNode {
	background-image:url('images/arrowDown.gif'); 
}
.not .dijitTitlePane .dijitArrowNodeInner { 
	visibility:hidden;
}

.not .dijitTitlePaneTitle .dijitOpenCloseArrowOuter {
	margin-right:5px;
}

.not .dijitOpen .dijitTitlePaneTitle .dijitOpenCloseArrowOuter {
	position:relative;
	top:2px;
}

.not .dijitTitlePaneContentOuter {
	background: #ffffff;
	border:1px solid #bfbfbf;
	border-top: 1px solid #cddde9;	/* w/out this, an <h1> on the top line causes a gap between the .content and .label */
}
.not .dijitTitlePaneContentInner {
	padding:10px;
}
/* force hasLayout to ensure borders etc, show up */
.dj_ie6 .not .dijitTitlePaneContentOuter, 
.dj_ie6 .not .dijitTitlePane .dijitTitlePaneTitle {
	zoom: 1; 
}
.not .dijitClickableRegion {
	background-color : #ffc !important;
}

/* Tabs */

.not .dijitTabPaneWrapper {
	/*
	overflow: hidden;
	*/
	background:#fff; 
	border:1px solid #ccc;
}

.not .dijitTab {
	line-height:normal;
	margin-right:5px;	/* space between one tab and the next in top/bottom mode */
	padding:0px;
	border:1px solid #ccc;
	background:#e2e2e2 url("images/tabEnabled.png") repeat-x;
}

.not .dijitAlignLeft .dijitTab,
.not .dijitAlignRight .dijitTab {
	margin-right:0px;
	margin-bottom:5px;	/* space between one tab and the next in left/right mode */
}

.not .dijitTabInnerDiv {
	padding:6px 10px 4px 10px;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
}

.not .dijitTabHover,
.not .dijitTabCloseButtonHover {
	color: #243C5F;
	border-top-color:#92a0b3;
	border-left-color:#92a0b3;
	border-right-color:#92a0b3;
	background:#e2e2e2 url("images/tabHover.png") repeat-x bottom;
}

.dj_ie6 .not .dijitTabHover,
.dj_ie6 .not .dijitTabCloseButtonHover {
	background-image: url("images/tabHover.gif"); 
}

.not .dijitTabChecked,
.not .dijitTabCloseButtonChecked
{
	/* the selected tab (with or without hover) */
	background-color:#fff;
	border-color: #ccc;
	background-image:none; 
}

/* make the active tab white on the side next to the content pane */
.not .dijitAlignTop .dijitTabChecked,
.not .dijitAlignTop .dijitTabCloseButtonChecked
{
	border-bottom-color:white;
	vertical-align:bottom;
}

.not .dijitAlignBottom .dijitTabChecked,
.not .dijitAlignBottom .dijitTabCloseButtonChecked
{
	border-top-color:white;
	-moz-border-radius:2px 2px 0px 0px;	/* eliminate some border detritrus on moz */
}

.not .dijitAlignLeft .dijitTabChecked,
.not .dijitAlignLeft .dijitTabCloseButtonChecked
{
	border-right-color:white;
}

.not .dijitAlignRight .dijitTabChecked,
.not .dijitAlignRight .dijitTabCloseButtonChecked
{
	border-left-color:white;
}


/* make space for a positioned close button */
.not .dijitTab .dijitClosable {
	position: relative; 
	padding:6px 20px 4px 10px;
}

.not .dijitTab .dijitClosable .closeImage {
	position:absolute;
	top: 7px;
	right: 3px;
	height: 12px;
	width: 12px;
	padding: 0;
	margin: 0;
	background: url("images/tabClose.png") no-repeat right top;
}
.dj_ie6 .dijitTab .dijitClosable .closeImage {
	background-image:url("images/tabClose.gif"); 
}

.not .dijitTabCloseButton .dijitClosable .closeImage {
	background-image : url("images/tabClose.png");
}
.dj_ie6 .not .dijitTabCloseButton .dijitClosable .closeImage {
	background-image : url("images/tabClose.gif");
}

.not .dijitTabCloseButtonHover .dijitClosable .closeImage {
	background-image : url("images/tabCloseHover.png");
}
.dj_ie6 .not .dijitTabCloseButtonHover .dijitClosable .closeImage {
	background-image : url("images/tabCloseHover.gif");
}

.not .dijitAlignLeft .dijitTab .dijitClosable {
	padding:6px 10px 4px 20px;
}

/* correct for IE6. 
    We cant force hasLayout as that blows out the shrink wrapped tabs
    ..so we shim in the closeImage position properties instead
*/
.dj_ie6 .not .dijitAlignLeft .dijitTab .dijitClosable .closeImage {
	left:-20px;
}

.not .dijitAlignBottom .dijitTab .dijitClosable .closeImage {
	top: auto;
	bottom: 7px;
	right: 3px;
}

.not .dijitAlignLeft .dijitTab .dijitClosable .closeImage {
	top: 7px;
	left: 3px;
}

/* SplitContainer */

.not .dijitSplitContainerSizerH {
	background:url("images/splitContainerSizerH.png") repeat-y #fff;
	border:0;
	border-left:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
	width:7px;
}

.not .dijitSplitContainerSizerH .thumb {
	background:url("images/splitContainerSizerH-thumb.png") no-repeat #ccc;
	left:1px;
	width:3px;
	height:19px;
}

.not .dijitSplitContainerSizerV {
	background:url("images/splitContainerSizerV.png") repeat-x #fff;
	border:0;
	border-top:1px solid #bfbfbf;
	border-bottom:1px solid #bfbfbf;
	height:7px;
}

.not .dijitSplitContainerSizerV .thumb {
	background:url("images/splitContainerSizerV-thumb.png") no-repeat #ccc;
	top:1px;
	width:19px;
	height:3px;
}


/* Dialog */

.not .dijitDialog {
	background: #eee;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 5px 10px #adadad;
}

.not .dijitDialog .dijitDialogTitle {
	border-top: none;
	border-left: none;
	border-right: none;
}

.not .dijitDialog .dijitDialogPaneContent {
	background: #ffffff;
	border:none;
	border-top: 1px solid #ccc; /* #cddde9;	/* w/out this, an <h1> on the top line causes a gap between the .content and .label */
	padding:10px;

}

.not .dijitDialogTitleBar {
	/* outer container for the titlebar of the dialog */
	background: #fafafa url("images/titleBarBg.gif") repeat-x bottom left;
	/* border: 1px solid #bfbfbf; */
	padding: 4px 8px 2px 4px;
	cursor: move;
	outline:0; /* remove this line if keyboard focus on dialog startup is an issue. tab still takes you to first focusable element */
}

.not .dijitDialogTitle {
	/* typography and styling of the dialog title */
	font-weight: bold;
	padding: 8px 12px 8px 12px;
	outline:0;
}

.not .dijitDialogCloseIcon {
	/* the default close icon for the dialog */
	background : url("images/tabClose.png") no-repeat right top;
	float: right;
	position: absolute;
	vertical-align: middle;
	right: 5px;
	top: 5px;
	height: 22px;
	width: 22px;
	cursor: pointer;
}
.dj_ie6 .not .dijitDialogCloseIcon {
	background-image: url("images/tabClose.gif"); 
}

.not .dijitDialogContent {
	/* the body of the dialog */
	padding: 8px;
}

/*Tooltip*/

.not .dijitTooltip,
.not .dijitTooltipDialog {
	/* the outermost dom node, holding the connector and container */
	opacity: 0.95;
	background: transparent;	/* make the area on the sides of the arrow transparent */
}

.dijitTooltipBelow {
	/* leave room for arrow above content */
	padding-top: 13px;
}

.dijitTooltipAbove {
	/* leave room for arrow below content */
	padding-bottom: 13px;
}

.not .dijitTooltipContainer {
	/*
		The part with the text.

		NOTE: 
			FF doesn't clip images used as CSS bgs if you specify a border
			radius. If you use a solid color, it does. Webkit gets it right.
			Sigh.
		background: #ffffff url("images/popupMenuBg.gif") repeat-x bottom left;
	*/
	background-color: #fafafa;
	border:1px solid #b6c7d5;
	padding:0.45em;
	border-radius: 6px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 6px;
}

.not .dijitTooltipConnector {
	/* the arrow piece */
	border:0px;
	z-index: 2;
}

.not .dijitTooltipABRight .dijitTooltipConnector {
	left: auto !important;
	right: 3px;
}

.not .dijitTooltipBelow .dijitTooltipConnector {
	/* the arrow piece for tooltips below an element */
	top: 0px;
	left: 3px;
	background:url("images/tooltipConnectorUp.png") no-repeat top left;
	width:16px;
	height:14px;
}

.dj_ie6 .not .dijitTooltipBelow .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorUp.gif");
}

.not .dijitTooltipAbove .dijitTooltipConnector {
	/* the arrow piece for tooltips above an element */
	bottom: 0px;
	left: 3px;
	background:url("images/tooltipConnectorDown.png") no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie6 .not .dijitTooltipAbove .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorDown.gif");
}

.not .dijitTooltipLeft {
	padding-right: 13px;
}
.dj_ie6 .not .dijitTooltipLeft {
	padding-right: 15px;
}
.not .dijitTooltipLeft .dijitTooltipConnector {
	/* the arrow piece for tooltips to the left of an element, bottom borders aligned */
	right: 0px;
	bottom: 7px;
	background:url("images/tooltipConnectorRight.png") no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie6 .not .dijitTooltipLeft .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorRight.gif");
}

.not .dijitTooltipRight {
	padding-left: 13px;
}
.not .dijitTooltipRight .dijitTooltipConnector {
	/* the arrow piece for tooltips to the right of an element, bottom borders aligned */
	left: 0px;
	bottom: 7px;
	background:url("images/tooltipConnectorLeft.png") no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie6 .not .dijitTooltipRight .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorLeft.gif");
}

/* Accordion */

.not .dijitAccordionPane-selected {
	/* background-color:#85aeec; */
	background-color: #e7e7e7;
}

.not .dijitAccordionPane .dijitAccordionTitle {
	background:#fafafa url("images/titleBar.png") repeat-x bottom left;
	border-left: 1px solid #bfbfbf;
	border-top: 1px solid #bfbfbf;
	border-right: 1px solid #bfbfbf;
	padding:4px 4px 2px 4px;
}

.not .dijitAccordionPane-selected .dijitAccordionTitle {
	background: #ededed url("images/buttonActive.png") bottom repeat-x;
	font-weight: bold;
	border-left: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	padding: 4px 4px 2px 4px;
}

.not .dijitAccordionPane .dijitAccordionArrow {
	background:url("images/arrowUp.png") no-repeat;
	width:15px;
	height:15px;
	margin-top:2px;
}
.dj_ie6 .not .dijitAccordionPane .dijitAccordionArrow {
	background-image: url("images/arrowUp.gif"); 
}

.not .dijitAccordionPane-selected .dijitAccordionArrow {
	background:url("images/circleIcon.png") no-repeat;
	margin-top:2px;
}
.dj_ie6 .not .dijitAccordionPane-selected .dijitAccordionArrow {
	background-image: url("images/circleIcon.gif"); 
}

.not .dijitAccordionPane .dijitAccordionBody {
	background: #fff;
	/*
	border:1px solid #bfbfbf;
	*/
	border-left: 1px solid #bfbfbf;
	border-top: 1px solid #bfbfbf;
	border-right: 1px solid #bfbfbf;
}

/* Tree */

.not .dijitTreeNode {
    background-image : url('images/i.gif');
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 19px;
    zoom: 1;	/* MOW: what the heck is this doing in here? */
}
 
/* left vertical line (grid) for all nodes */
.not .dijitTreeIsLast {
    background: url('images/i_half.gif') no-repeat;
}

.not .dijitTreeIsRoot {
    margin-left: 0;
    background-image: none;
}

.not .dijitTreeExpando {
    width: 18px;
    height: 18px;
}

.not .dijitTreeContent {
    min-height: 18px;
    min-width: 18px;
    margin-left:18px;
    padding-top:3px;
    padding-left:1px;
}


.not .dijitTreeExpand {
    width: 18px;
    height: 18px;
    background-repeat : no-repeat;
}
 
/* same style as IE selection */
.not .dijitTreeNodeEmphasized {
    background-color: Highlight;
    color: HighlightText;
}

/* don't use :focus due to opera and IE's lack of support on div's */
.not .dijitTreeLabelFocused {
	outline: 1px invert dotted;
}

.not .dijitTreeExpandoOpened {
	background-image: url('images/treeExpand_minus.gif');
}
 
.not .dijitTreeExpandoClosed {
	background-image: url('images/treeExpand_plus.gif');
}
 
.not .dijitTreeExpandoLeaf {
	background-image: url('images/treeExpand_leaf.gif');
}

.not .dijitTreeExpandoLoading {
	background-image: url('images/treeExpand_loading.gif');
}


/* Calendar*/

.not .dijitCalendarIncrementControl {
	/* next/prev month buttons */
	width:16px;
	height:16px;
}
.dj_ie6 .not .dijitCalendarIncrementControl {
	padding:.1em; 
}

.not .dijitCalendarIncreaseInner,
.not .dijitCalendarDecreaseInner {
	visibility:hidden; 
}

.not .dijitCalendarDecrease {
	background:url("images/arrowLeft.png") no-repeat center center; 
}
.dj_ie6 .not .dijitCalendarDecrease {
	background-image:url("images/arrowLeft.gif"); 
}

.not .dijitCalendarIncrease {
	background:url(images/arrowRight.png) no-repeat center center; 
}
.dj_ie6 .not .dijitCalendarIncrease {
	background-image:url("images/arrowRight.gif"); 
}

.not table.dijitCalendarContainer {
	font-size: 100%;
	border-collapse: collapse; 
	border-spacing: 0; 
	border: 1px solid #ccc; 
	margin: 0;
}

.not .dijitCalendarMonthContainer th {
	/* month header cell */
	background:white url("images/calendarMonthLabel.png") repeat-x top;
	padding-top:.3em;
	padding-bottom:.1em; 
	text-align:center; 
}
.dj_ie6 .not .dijitCalendarMonthContainer th {
	padding-top:.1em; 
	padding-bottom:0em; 
}

.not .dijitCalendarDayLabelTemplate {
	/* day of week labels */
	background:white url("images/calendarDayLabel.png") repeat-x bottom;
	font-weight:normal;
	padding-top:.15em;
	padding-bottom:0em;
	border-top: 1px solid #eeeeee;
	color:#293a4b;
	text-align:center;
}

.not .dijitCalendarMonthLabel {
	/* day of week labels */
	color:#293a4b;
	font-size: 0.75em;
	font-weight: bold;
	text-align:center;
}

.dj_ie7 .not .dijitCalendarDateTemplate,
.dj_ie6 .not .dijitCalendarDateTemplate {
	font-size: 0.8em;
}

.not .dijitCalendarDateTemplate {
	/* style for each day cell */
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	padding: 0.3em 0.3em 0.05em 0.3em;
	letter-spacing: 1px;
}


.not .dijitCalendarPreviousMonth,
.not .dijitCalendarNextMonth 		{
	/* days that are part of the previous or next month */
	color:#999999;
	background-color:#f8f8f8 !important;
}

.not .dijitCalendarPreviousMonthDisabled,
.not .dijitCalendarNextMonthDisabled	{
	/* days that are part of the previous or next month - disabled*/
	background-color:#a4a5a6 !important;
}

.not .dijitCalendarCurrentMonth {
	/* days that are part of this month */
	background-color:white !important;
}

.not .dijitCalendarCurrentMonthDisabled {
	/* days that are part of this month - disabled */	
	background-color:#bbbbbc !important; 
}

.not .dijitCalendarDisabledDate {
	/* one or the other? */ 
	/* background: url(images/noX.gif) no-repeat center center !important; */
	text-decoration:line-through !important; 
	cursor:default !important;  
}

.not .dijitCalendarCurrentDate {
	/* cell for today's date */
	text-decoration:underline;
	font-weight:bold;
}

.not .dijitCalendarSelectedDate {
	/* cell for the selected date */
	background-color:#bbc4d0 !important;
	color:black !important;
}


.not .dijitCalendarYearContainer {
	/* footer of the table that contains the year display/selector */
	background:white url("images/calendarYearLabel.png") repeat-x bottom;
	border-top:1px solid #ccc;
}

.not .dijitCalendarYearLabel {
	/* container for all of 3 year labels */
	margin:0;
	padding:0.4em 0 0.25em 0;
	text-align:center;
}

.not .dijitCalendarSelectedYear {
	/* label for selected year */
	color:black;
	padding:0.2em;
	padding-bottom:0.1em;
	background-color:#bbc4d0 !important;
}

.not .dijitCalendarNextYear, 
.not .dijitCalendarPreviousYear {
	/* label for next/prev years */
	color:black !important;
	font-weight:normal;
}



/* inline edit boxen */
.not .dijitInlineValue {
	/* span around an inline-editable value when NOT in edit mode */
	padding:3px;
	margin:4px;
}


/* MOW: trying to get this to look like a mini-dialog.  Advised? */
.not .dijitInlineEditor {
	/* fieldset surrounding an inlineEditor in edit mode */
	display: inline-block;
	display: -moz-inline-stack;
	#display:inline;
	/*
	border: solid;
	border-color: #7788a0 #344257 #344257 #7788a0;
	border-width:1px 2px 2px 1px;
	-moz-border-radius:0px 2px 0px 2px;	make BL and TR corners indent on Moz so it looks like we have a shadow
	background-color:white;
	*/
}

.dijitInlineEditor .saveButton,
.dijitInlineEditor .cancelButton {
	margin:3px 3px 3px 0px;
}


/* spinner */

.not .dijitSpinner {}
.not .dijitSpinner input {
}




/****
		dijit.ProgressBar
 ****/
 
.not .dijitProgressBar {
	margin:2px 0px 2px 0px;
}

.not .dijitProgressBarEmpty{
	/* outer container and background of the bar that's not finished yet*/
	background:#ececec url("images/progressBarEmpty.png") repeat-x bottom left;
	border-color: #84a3d1;
}

.not .dijitProgressBarTile{
	/* inner container for finished portion when in 'tile' (image) mode */
	background:#cad2de url("images/progressBarFull.png") repeat-x top left;
}

.not .dijitProgressBarLabel {
	/* Set to a color that contrasts with both the "Empty" and "Full" parts. */
	color:#293a4b;
}

.not .dijitProgressBarIndeterminate .dijitProgressBarTile {
	/* use an animated gif for the progress bar in 'indeterminate' mode */
	background:#cad2de url("images/dijitProgressBarAnim.gif") repeat-x top left;
}

/****
 	SLIDER
****/

.not .dijitHorizontalSliderProgressBar {
	border-color: #aab0bb;
	background: #c0c2c5 url("images/sliderFull.png") repeat-x top left;
}

.not .dijitVerticalSliderProgressBar {
	border-color: #aab0bb;
	background: #c0c2c5 url("images/sliderFullVertical.png") repeat-y bottom left;
}

.not .dijitVerticalSliderRemainingBar {
	border-color: #b4b4b4;
	background: #dcdcdc url("images/sliderEmptyVertical.png") repeat-y bottom left;
}

.not .dijitHorizontalSliderRemainingBar {
	border-color: #b4b4b4;
	background: #dcdcdc url("images/sliderEmpty.png") repeat-x top left;
}

.not .dijitSliderBar {
	border-style: solid;
	outline:1px; 
	/* border-color: #b4b4b4; */
}

.not .dijitHorizontalSliderImageHandle {
	border:0px;
	width:16px;
	height:16px;
	background:url("images/preciseSliderThumb.png") no-repeat center center; 
	cursor:pointer; 
}
.dj_ie6 .dijitHorizontalSliderImageHandle {
	background-image:url("images/preciseSliderThumb.gif"); 
}

.not .dijitHorizontalSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("images/sliderFull.png") repeat-x top left;
}

.not .dijitHorizontalSliderRightBumper {
	background: #dcdcdc url("images/sliderEmpty.png") repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}

.not .dijitVerticalSliderImageHandle {
	border:0px;
	width:16px;
	height:16px;
	background:url("images/sliderThumb.png") no-repeat center center; 
	cursor:pointer;
}

.not .dijitVerticalSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("images/sliderFullVertical.png") repeat-y bottom left;
}

.not .dijitVerticalSliderTopBumper {
	background: #dcdcdc url("images/sliderEmptyVertical.png") repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}

.not .dijitHorizontalSliderIncrementIcon,
.not .dijitVerticalSliderIncrementIcon {
	background:url('images/arrowUp.png') no-repeat center center;
	width:16px; height:16px;
	cursor:pointer;
}
.not .dijitHorizontalSliderIncrementIcon {
	background-image:url('images/arrowRight.png');
}

.not .dijitHorizontalSliderDecrementIcon,
.not .dijitVerticalSliderDecrementIcon {
	width:16px;
	height:16px;
	cursor:pointer; 
	background:url('images/arrowDown.png') no-repeat center center;
}
.not .dijitHorizontalSliderDecrementIcon { background-image:url('images/arrowLeft.png'); }

.not .dijitSliderButtonInner {
	visibility:hidden;
}
.dijit_a11y .dijitSliderButtonInner {
	visibility:visible !important; 
}

.not .dijitSliderDisabled {
	opacity:0.6 !important;
}

.dj_ie6 .dijitSliderDisabled,
.dj_ie6 .dijitSliderDisabled .RuleContainer,
.dj_ie6 .dijitSliderDisabled .dijitSliderRemainingBar,
.dj_ie6 .dijitSliderDisabled .dijitSliderProgressBar {
	filter: gray() alpha(opacity=40);
}

/**** ICONS *****/

.not .dijitEditorIcon {
	background-image: url('images/editor.gif'); /* editor icons sprite image */
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}
.not .dijitEditorIconSep { background-position: 0px; }
.not .dijitEditorIconBackColor { background-position: -18px; }
.not .dijitEditorIconBold { background-position: -36px; }
.not .dijitEditorIconCancel { background-position: -54px; }
.not .dijitEditorIconCopy { background-position: -72px; }
.not .dijitEditorIconCreateLink { background-position: -90px; }
.not .dijitEditorIconCut { background-position: -108px; }
.not .dijitEditorIconDelete { background-position: -126px; }
.not .dijitEditorIconForeColor { background-position: -144px; }
.not .dijitEditorIconHiliteColor { background-position: -162px; }
.not .dijitEditorIconIndent { background-position: -180px; }
.not .dijitEditorIconInsertHorizontalRule { background-position: -198px; }
.not .dijitEditorIconInsertImage { background-position: -216px; }
.not .dijitEditorIconInsertOrderedList { background-position: -234px; }
.not .dijitEditorIconInsertTable { background-position: -252px; }
.not .dijitEditorIconInsertUnorderedList { background-position: -270px; }
.not .dijitEditorIconItalic { background-position: -288px; }
.not .dijitEditorIconJustifyCenter { background-position: -306px; }
.not .dijitEditorIconJustifyFull { background-position: -324px; }
.not .dijitEditorIconJustifyLeft { background-position: -342px; }
.not .dijitEditorIconJustifyRight { background-position: -360px; }
.not .dijitEditorIconLeftToRight { background-position: -378px; }
.not .dijitEditorIconListBulletIndent { background-position: -396px; }
.not .dijitEditorIconListBulletOutdent { background-position: -414px; }
.not .dijitEditorIconListNumIndent { background-position: -432px; }
.not .dijitEditorIconListNumOutdent { background-position: -450px; }
.not .dijitEditorIconOutdent { background-position: -468px; }
.not .dijitEditorIconPaste { background-position: -486px; }
.not .dijitEditorIconRedo { background-position: -504px; }
.not .dijitEditorIconRemoveFormat { background-position: -522px; }
.not .dijitEditorIconRightToLeft { background-position: -540px; }
.not .dijitEditorIconSave { background-position: -558px; }
.not .dijitEditorIconSpace { background-position: -576px; }
.not .dijitEditorIconStrikethrough { background-position: -594px; }
.not .dijitEditorIconSubscript { background-position: -612px; }
.not .dijitEditorIconSuperscript { background-position: -630px; }
.not .dijitEditorIconUnderline { background-position: -648px; }
.not .dijitEditorIconUndo { background-position: -666px; }
.not .dijitEditorIconWikiword { background-position: -684px; }

/*
 * IE6: can't display PNG images with gradient transparency.
 * Want to use filter property for those images, but then need to specify a path relative
 * to the main page, rather than relative to this file... using gifs for now
 */

.dj_ie6 .not .dijitInputField
{
	background: url("images/validationInputBg.gif") repeat-x top left; 
}


/** TODO: add all other PNGs here that need this */
/**** Disabled cursor *****/
.not .dijitSliderDisabled *,
.not .dijitDisabledClickableRegion,	/* a region the user would be able to click on, but it's disabled */
.not .dijitSpinnerDisabled *,
.not .dijitButtonDisabled *,
.not .dijitDropDownButtonDisabled *,
.not .dijitComboButtonDisabled *,
.not .dijitComboBoxDisabled *
{
	cursor: not-allowed !important;
	cursor: url("images/no.gif"), not-allowed, default;
}

/* DnD avatar-specific settings */
/* For now it uses a default set of rules. Some other DnD classes can be modified as well. */
.not .dojoDndAvatar			{font-size: 75%; color: black;}
.not .dojoDndAvatarHeader td	{padding-left: 20px; padding-right: 4px;}
.not .dojoDndAvatarHeader	{background: #ccc;}
.not .dojoDndAvatarItem		{background: #eee;}
.not.dojoDndMove .dojoDndAvatarHeader	{background-image: url(images/dndNoMove.png); background-repeat: no-repeat;}
.not.dojoDndCopy .dojoDndAvatarHeader	{background-image: url(images/dndNoCopy.png); background-repeat: no-repeat;}
.not.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-image: url(images/dndMove.png); background-repeat: no-repeat;}
.not.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-image: url(images/dndCopy.png); background-repeat: no-repeat;}

.not .dijitContentPaneLoading {
	background:url('images/loading.gif') no-repeat left center;
	padding-left:25px; 
}

.not .dijitContentPaneError {
	background:url('images/warning.png') no-repeat left center;
	padding-left:25px; 
}
